body {
  background-color: rgba(255, 199, 0, 0.10);
}

.window-main {
  margin-left: 40px;
  margin-right: 40px;
}
.todo-list {
  word-break: break-all;
  line-height:2.0em;
}
.todo-item {
  font-size: 25px;
}

/* SubWindow */
.window-sub {
  margin-top: 20px;
  margin-left: 25px;
}
.todo-text {
  width: 250px;
}

/* AutorWindow */
.window-autor {
  margin-left: 25px;
}
